* {
    box-sizing: border-box;
}
html {
    font-family: "Rosarivo", cursive;
    font-weight: 400;
    font-style: normal;
    height: 100%;
}

body {
    background-color: #faf4ed;
}

header {
    background-color: #faf4ed;
}

.navbar {
    background-color: #faf4ed !important;
    height: 20vh;
    font-family: "Rosarivo", cursive;
    font-weight: 400;
    font-style: normal;
    padding-right: 5vw;
    .navbar-nav {
        background-color: #faf4ed;
        width: 80vw;
        display: flex;
        justify-content: space-around;
        text-align: end;
    }
}

footer {
    display: flex;
}
